@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@import "./theme.css";

@custom-variant dark (&:where(.dark, .dark *));

button,
a {
  cursor: pointer;
}

@utility hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}